{% extends 'main/base.html' %}

{% block title %}
    Student List
{% endblock %}

{% block content %}

<style>
    body {
        background-color: #f4f6f8;
        font-family: Arial, sans-serif;
    }

    .container {
        width: 80%;
        margin: 40px auto;
        text-align: center;
    }

    h1 {
        color: #333;
        margin-bottom: 30px;
    }

    .student {
        background-color: white;
        padding: 15px 30px;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

    .student p {
        margin: 5px;
    }

    .name {
        font-size: 20px;
        font-weight: bold;
        color: #333;
    }

    .info {
        color: #666;
    }
</style>

<div class="container">
    <h1 style="text-align: center;"> Student List </h1>

    {% for student in students %}
    <div class="student">
        <p class="name"> Name: {{student.first_name}} {{student.last_name}} </p>
        <p class="info"> Age: {{ student.age }} </p>
        <p class="info"> Email: {{ student.email }} </p>
        <p class="info"> Date Entered: {{ student.created_at }} </p>
    </div>
    

    {% empty %}

    <p> No Students were found. </p>
    
    {% endfor %}
</div>

{% endblock %}